POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=blog_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

JPA_DDL_STATUS=update
JPA_SHOW_SQL=true
JPA_FORMAT_SQL=true

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

LOCAL_FILE_DIR=